body {
    background-color: gainsboro;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    padding-bottom: 10px;
    /* padding-right: 100%;
    padding-left: 100%; */
    background-color: rgb(42, 41, 41);
    overflow-x: hidden;
}

.hell:hover {
    color: red;
}

.pfp {
    max-width: 100px;
    max-height: 50px;
    margin-left: 14px;
    margin-top: 10px;
    border-radius: 100%;
}
.input1{
    border-radius: 5px;
    text-align: center;
    height: 25px;
    width: 200px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }   
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(42, 41, 41);
    color: white;
    padding: 10px 15px;
    border: none;
  } 
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
  }
  
  .card > img {
    border-radius: 5px 5px 0 0;
  }

  .cardcontainter {
    padding: 2px 16px;
  }

  .cardimage {
    height: 700px;
  }